body {
  background-color: #a3d5a3;
}
h1 {
    position: absolute;
    left: 550px;
    top: 24px;
}
h1 { 
    display: block;
    font-size: 5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p1 {
    position: absolute;
    left: 68px;
    top: 44px;
}

p1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

